@using PruebaTec.WEB.APIClient.DTO
@model PruebaTec.WEB.APIClient.DTO.Requests.UsuarioRequestDTO
@using PruebaTec.WEB.APIClient.DTO.Requests

@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>Crear Usuario</h2>

    <form asp-action="Crear" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input asp-for="Pwd" class="form-control" type="password" />
        </div>

        <div class="mb-3">
            <label class="form-label">Rol</label>
            <select asp-for="Rol" class="form-control" asp-items="Html.GetEnumSelectList<Rol>()"></select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.getElementById('crearUsuarioForm').addEventListener('submit', function (e) {
            e.preventDefault(); // Detiene el envío por defecto

            Swal.fire({
                title: 'Guardando usuario...',
                text: 'Por favor espera un momento.',
                icon: 'info',
                showConfirmButton: false,
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });

            // Espera un momento para mostrar el alert, luego envía el formulario
            setTimeout(() => {
                e.target.submit();
            }, 1000);
        });
    </script>

    @if (TempData["AlertaMensaje"] != null)
    {
        <script>
            Swal.fire({
                icon: '@TempData["AlertaTipo"]',
                title: '@TempData["AlertaMensaje"]',
                showConfirmButton: false,
                timer: 2000
            });
        </script>
    }
}