body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: url('/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url('/fondo.jpg') no-repeat center center fixed;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }
.login-card {
    background-color: rgba(10, 26, 47, 0.7); /* azul marino con transparencia */
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
    z-index: 1;
    position: relative;
}

    .login-card input {
        color: white !important;
    }

        .login-card input::placeholder {
            color: rgba(255,255,255,0.7) !important;
        }

.show-password {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/* Botón de Login */
.btn-login {
    background-color: white;
    color: #0a1a2f; /* azul marino fuerte */
    font-weight: bold;
    border: none;
}

    .btn-login:hover {
        background-color: #dce6f5; /* azul claro */
        color: #0a1a2f;
    }
